project:
  type: website
  output-dir: docs 

website:
  description: "A blog built with Quarto"
  title: "qblog_class_demo"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/zchen0351
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

